mixin nav(className, items, activeItem) 
    div(class=`nav nav--${className}`)
        ul(class=`${className}__list`)
            each item, ndx in nav
                li(class=`${className}__item` + (( ndx === activeItem ) ? ` ${className}__item--active` : '' ))
                    a(class=`${className}__link` href=`${item.link}.html`)= `${item.text}`
- 
    var nav = [
        {
            link: 'about',
            text: 'About'
        },{
            link: 'my-works',
            text: 'My works'
        },{
            link: 'blog',
            text: 'Blog'
        },{
            link: 'index',
            text: 'Main page'
        }
    ]









 
















           


                